.login-page-container {
  display: flex;
  align-items: center;
  height: 100vh;
  width: 100vw;
  justify-content: space-between;
  padding: 60px 10% 60px 5%;
  box-sizing: border-box;
  background-color: #f4f4f4;
}

.illustration-container {
  width: 60%;
}

.login-form-container {
  width: 40%;
  background-color: #ffffff;
  height: auto;
  padding: 30px;
  box-sizing: border-box;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: 10px 30px 19px lightgrey;
}

.field-container {
  display: flex;
  align-items: center;
  background-color: #ececec;
  height: 100px;
  border-radius: 8px;
  margin-bottom: 20px;
  padding: 35px 10px 45px 10px;
}


.label-tag-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 15px;
  flex: 1;
}

label {
  font-size: 12px;
  margin-bottom: 6px;
}

input {
  border: 0.1px solid grey;
  border-radius: 4px;
  outline: none;
  font-size: 16px;
  font-weight: 600;
  background-color: #ececec;
  width: 100%;
}


input:focus {
  border-color: #6358dc;
}

/* Styling for password eye icon */
.eye-icon {
  position: absolute;
  right: 20px;
  cursor: pointer;
}

/* Error message styling */
.error-message {
  color: red;
  font-size: 12px;
  margin-top: 8px;
  margin-left: 24px
}

.heading-container {
  text-align: left;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}

.welcome-text {
  font-size: 24px;
  font-weight: 600;
  display: inline;
}

.brand-text {
  font-size: 46px;
  font-weight: 600;
  padding-left: 10px;
  color: #6358dc;
  display: inline;
}

.footer-text {
  font-size: 16px;
}

.login-or-register-text {
  color: #6358dc;
  cursor: pointer;
}

.login-button {
  width: 100%;
  background-color: #6358dc;
  color: #ffffff;
  height: 77px;
  border-radius: 8px;
  margin-bottom: 10px;
  font-size: 23px;
  font-weight: 700;
  
  cursor: pointer;
  outline: none;
  border: none;
  transition: background-color 0.3s;
}

.login-button:hover {
  background-color: #5145a3;
}

.fields-wrapper {
  border: 1px saddlebrown;
}

.illustration-image {
  width: 200%;
}

@media (max-width: 1023px) {
  .illustration-container {
    display: none;
  }

  .login-form-container {
    width: 100%;
    padding: 40px;
  }

  .login-page-container {
    padding: 5%;
  }

  /* .field-container {
    height: 60px;
  } */
}


.login-form-container_input{
width: 90% !important;
}