.nav-item {
    a {
        color: #fff;
        text-decoration: none;
    }
}

.homelogo{
    align-items: center;
    color: #fff;
    text-decoration: none;
    display: flex;
}

.mentItems {
    ul {
        list-style-type: none;
        display: flex;
        margin: 0px;
        padding: 0px 10px;
        li {
            padding: 10px;

            a {

                color: #fff;
                text-decoration: none;
                font-size: 16px;
            }

            a:hover {
                /* text-decoration: underline; */

                border-bottom: 1px solid #fff;

            }
        }
    }
}

.firstLetter{text-transform: lowercase;
    display: inline-block;
}

.firstLetter::first-letter {text-transform: uppercase !important}
