.bgShadowPayment {
    background-color: #003764 !important;
    /* color: #fff; */
    box-shadow: 8px 14px 38px rgba(39, 44, 49, .06), 1px 3px 8px rgba(39, 44, 49, .03);
    transition: all .5s ease;
    cursor: pointer;
    padding: 30px 50px;
    margin-right: 10px;
    border-radius: 5px;

}

.bgShadowPayment:hover {
    background-color: #4c85b4 !important;

    box-shadow: 0 0 1px rgba(39, 44, 49, .1), 0 3px 16px rgba(39, 44, 49, .07);
    transition: all .3s ease;
    transform: translate3D(0, -1px, 0);
    /* padding: 35px 50px; */
}

/* #bgShadowPaymentSvg {
    font-size: 36px;
    margin-left: 15px;
    padding: 30px
}
#bgShadowPaymentSvg:hover {
    font-size: 36px;
    margin-left: 15px;
    padding: 40px
} */

.inputSelect{
    background-color: #ececec;
    display: block;
    box-sizing: border-box;
    width: 100%;
    border-radius: 4px;
    border: 1px solid white;
    padding: 10px;
}
.inputSelect:focus-visible{
    border: 1px solid white !important;

}